h1 {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.operation {
  padding-top: 50px;
}

button {
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: aquamarine;
  font-weight: bold;
  cursor: pointer;
}

.result {
  padding-top: 10px;
}
